code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
  --button-bg-color: #f52330;
  --card-hover-color: #f5622b;
  --card-default-color: #434343;
  --icon-hover-color: #e3414f;
  --button-border-color: #f51d2f;
  --section-bg: #38393d;
  --opacity-full: 1;
  --opacity-half: 0.5;
  --opacity-zero: 0;
  --border-width: 2px;
  --border-color: var(--black);
  --border-radius: 10px;
  --transparent: transparent;
  --yellow: #f5bc20;
  --circle: 50px;
  --bg-gradient: linear-gradient(
    to right bottom,
    #191a1a,
    #1b2020,
    #1c2626,
    #1d2c2b,
    #1e3231,
    #213534,
    #243838,
    #273b3b,
    #2d3c3c,
    #323d3d,
    #383e3e,
    #3d3f3f
  );

  /* button styles */
  --button-color: var(--white);
  --button-hover-bg: var(--icon-hover-color);
  --button-active-bg: #fa1222;
  --button-disabled-bg: #ed8990;
  --button-focus-bg: #ff0011;
  --button-primary-bg: #0040f2;
  --button-sucess-bg: #32f055;
  --button-danger-bg: rgba(255, 0, 0, var(--opacity-half));
  --button-secondary-bg: #1a1a1b;
  --disabled-text: #dcd2c2;
  --button-primary-color: var(white);
  --button-hover-color: var(--white);
  --button-active-color: var(--white);
  --button-focus-color: var(--white);

  /* input styles */
  --input-focus-bg: ;
  --input-focus-color: ;
  --input-bg-disabled: ;
}
